.vs/*
.vscode/*
*.js
obj/*
dist
src/server/**/*.js
node_modules/*
typings/*
/build/
*.class
*.war
*.class
# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings
.settings/*
.loadpath
.gradle/
gradle.properties
build.gradle.selenium
gradlew.bat
# External tool builders
.externalToolBuilders/
gradle/*
build/*
.idea/*
.pmd/*
.pmd
.reports/cpd-report.txt

# Locally stored "Eclipse launch configurations"
*.launch
/bin
data/*